---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";

/* ==========================================================================
   CUSTOMIZED Dark skin
   ========================================================================== */

/* Colors */
$background-color: #121212 !default;
$footer-background-color: #121212 !default;
$text-color: white !default;
$primary-color: white !default;
$link-color: white !default;
// $link-color: mix($primary-color, $text-color, 80%) !default;
$base00: #1f1f1f !default;

a.site-title {
   visibility: hidden;
}

.pagination li a.current, .pagination li a.current.disabled {
   color: black !important;
   background: white !important;
}

.toc .nav__title {
   color: black !important;
}

.btn--twitter {
   background-color: white !important;
   color: black !important;
}

.btn--linkedin {
   background-color: white !important;
   color: black !important;
}

.btn--facebook {
   background-color: white !important;
   color: black !important;
}

::selection {
   color: black !important;
   background: white !important;
 }

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
